<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre</title>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header> 
       <section class="form_lupa">  
          
             <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">   
          
            
             <form action="">
                <input type="text" placeholder="Buscar" id="search">
             </form>
             <i class="fa-solid fa-magnifying-glass lupa"></i>
       
            <div class="div_i_h5">
              
              <h5><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h5>
            </div>
          </section>
      <div class="menu_horizontal navbar">
          <nav>
            <ul class="nav1">
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas Oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
            </ul>
          </nav>
          <nav class="espacio_nav_bottom">
            <ul class="nav2">
               <li><a href="">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
               <li><a href="">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
               <li><a href="">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
          </nav>
      </div>    
          
             <div class="div_svg_burguer">
              <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
          </div>
          </header>
          <div>
            <img src="/images/img-home-banner.jpg" alt="banner" width="100%"  >
          </div>
    <main>
       <h1><p><b>Basado en tu última visita</b></p></h1> 
       <section>
              
                 <article class="tapiz_blanco">
                        <div>
                            <img src = "/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class="imagen_articulo"> 
                        </div> 
                        <div class="div_linea_gris"> 
                            <i class="fa-solid fa-truck" style="color: #00b15a;"></i>
                      </div>
                      <div class="misma_fila">         
                            <h2 class="main_h2"><p>$6.770</p></h2> 
                            <h3 class="h3_off"><p>40% off</p></h3>
                      </div>      
                            <h3 class="h3_separacion_producto"><p>Cafetera Moulinex</p></h3>
                        
                          
                  </article>
                  <article class="tapiz_blanco productos">
                          <div>
                            <img src ="/images/img-macbook-pro-2019.jpg" alt="mac book pro 2019" class="imagen_articulo">
                          
                          </div>
                        <div class="div_linea_gris">
                             <i class="fa-solid fa-truck" style="color: #00b15a;"></i>
                         </div>
                         <div class="misma_fila">   
                             <h2 class="main_h2"><p>$230.000</p></h2>                            
                             <h3 class="h3_off"><p>20% off</p></h3>
                        </div>    
                             <h3 class="h3_separacion_producto"><p>MacBook Pro 2019</p></h3> 
                        
                  </article>
                  <article class="tapiz_blanco">
                        <div>
                          <img src ="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" class="imagen_articulo">
                        </div>
                        <div class="div_linea_gris">
                        <i class="fa-solid fa-truck" style="color: #00b15a;"></i>
                        </div>
                        <div class="misma_fila">
                             <h2 class="main_h2"><p>$70.500</p></h2> 
                             <h3 class="h3_off"><p>10% off</p></h3>
                        </div>     
                        <h3 class="h3_separacion_producto"><p>Samsung Galaxy S10</p></h3>    
                        
                  </article>
                  <article class="tapiz_blanco">
                        <div>
                             <img src ="/images/img-tv-samsung-smart.jpg" alt="smart tv samsung" class="imagen_articulo">
                        </div>
                          <div class="div_linea_gris">
                              <i class="fa-solid fa-truck" style="color: #00b15a;"></i>
                          </div>
                          <div class="misma_fila">    
                              <h2 class="main_h2"><p>$23.200</p></h2> 
                              <h3 class="h3_off"><p>5% off</p></h3>
                          </div>    
                              <h3 class="h3_separacion_producto"><p>SmartTv Samsung 43"</p></h3>   
                          
                  </article>
          </section>
                  <h1><p><b>Ofertas</b></p></h1> 
          <section>
                      
                  <article class="tapiz_blanco">
                          <div>
                              <img src = "/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class="imagen_articulo"> 
                          </div>
                          <div class="div_linea_gris">
                                <i class="fa-solid fa-truck" style="color: #00b15a;"></i>   
                          </div>
                          <div class="misma_fila">      
                              <h2 class="main_h2"><p>$6.770</p></h2> 
                              <h3 class="h3_off"><p>40% OFF</p></h3>
                          </div>    
                              <h3 class="h3_separacion_producto"><p>Cafetera Moulinex</p></h3>
                                
                  </article>
                  <article class="tapiz_blanco">
                          <div >
                              <img src ="/images/img-macbook-pro-2019.jpg" alt="mac book pro 2019" class="imagen_articulo">
                          </div>
                          <div class="div_linea_gris">
                               <i class="fa-solid fa-truck" style="color: #00b15a;"></i>
                          </div>     
                          <div class="misma_fila">     
                              <h2 class="main_h2"><p>$230.000</p></h2> 
                              <h3 class="h3_off"><p>20% off</p></h3>
                          </div>    
                              <h3 class="h3_separacion_producto"><p>MacBook Pro 2019</p></h3> 
                              
                  </article>
                  <article class="tapiz_blanco">
                          <div>
                              <img src ="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" class="imagen_articulo">
                          </div>
                          <div class="div_linea_gris">
                            <i class="fa-solid fa-truck" style="color: #00b15a;"></i>
                          </div>
                          <div class="misma_fila">  
                              <h2 class="main_h2"><p>$70.500</p></h2> 
                              <h3 class="h3_off"><p>10% off</p></h3>
                          </div>    
                              <h3 class="h3_separacion_producto"><p>Samsung Galaxy S10</p></h3>
                        
                  </article>
                  <article class="tapiz_blanco">
                          <div>
                              <img src ="/images/img-tv-samsung-smart.jpg" alt="smart tv samsung" class="imagen_articulo">
                          </div>
                          <div class="div_linea_gris">
                              <i class="fa-solid fa-truck" style="color: #00b15a;"></i> 
                          </div>
                          <div class="misma_fila">    
                              <h2 class="main_h2"><p>$23.200</p></h2> 
                              <h3 class="h3_off"><p>5% off</p></h3>
                          </div>                            
                              <h3 class="h3_separacion_producto"><p>SmartTv Samsung 43"</p></h3>
                                 
                  </article>            
          </section>
    </main> 
    <footer class="footer_fondo_gris">
          <section class="section_article_fondo_blanco">
                  <article >
                    <div class="footer_icono">
                      <i class="fa-solid fa-credit-card"></i>
                    </div>
                    <div class="footer_centrado_parrafo">
                    <h2><span>Pagá con tarjeta o en efectivo</span></h2>
                    <h3><p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></h3>
                    </div>
                  </article>
                  <article>
                    <div class="footer_icono">
                      <i class="fa-solid fa-gift"></i>
                    </div>
                    <div class="footer_centrado_parrafo">
                    <h2><p>Envío gratis desde $ 2.500</p></h2>
                    <h3><p>Solo por estar registrad@ en Mercado Liebre
                    tenés envíos gratis en miles de productos. Es
                    un beneficio de Mercado Puntos.</p></h3>
                    </div>
                  </article>
                  <article>
                    <div class="footer_icono">
                      <i class="fa-solid fa-user-shield"></i>
                    </div>
                    <div class="footer_centrado_parrafo">
                    <h2><p>Seguridad, de principio a fin</p></h2>
                    <h3><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                    no hay nada que no puedas hacer, porque estás
                    siempre protegid@.</p></h3>
                    </div>
                  </article>
                  <article>
                    <h4><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></h4>
                  </article>
          </section>
    </footer>
</body>
</html>

