<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre</title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo-mercado-liebre.svg" alt = "logo mercado libre" width ="20%">
            <div><h3>BARRA DE BUSQUEDA</h4></div>
            <h5>Comprá en cuotas y sin tarjeta de crédito</h5>
            <ul>
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas Oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
               <li><a href="">Creá tu cuenta</a></li>
               <li><a href="">Ingresá</a></li>
               <li><a href="">Mis compras</a></li>
            </ul>
    
        </nav>
    </header>
    <main>
          <section>
                  <article>
                          <img src = "images/img-home-banner.jpg" width="20%"> 
                          <p><b>Basado en tu última visita</b></p> 
                          <img src = "/images/img-cafetera-moulinex.jpg" width="20%">  
                          <p>$6.770</p> 
                          <p>40% OFF</p>
                          <p><b>Cafetera Moulinex</b></p> 
                  </article>
                  <article>
                          <img src ="/images/img-macbook-pro-2019.jpg" width ="20%">
                          <p>$230.000</p> 
                          <p>20% off</p>
                          <p><b>MacBook Pro 2019</b></p> 
                  </article>
                  <article>
                    <img src ="/images/img-samsung-galaxy-s10.jpg" width ="20%">
                    <p>$70.500</p> 
                    <p>10% off</p>
                    <p><b>Samsung Galaxy S10</b></p>    
                  </article>
                  <article>
                    <img src ="/images/img-tv-samsung-smart.jpg" width ="20%">
                    <p>$23.200</p> 
                    <p>5% off</p>
                    <p><b>SmartTv Samsung 43"</b></p><br>    
                  </article>
          </section>
    </main> 
    <footer>
          <section>
                  <article>
                    <p><h3><b>Pagá con tarjeta o en efectivo</b></h3></p>
                    <p><h4>Con Mercado Liebre Cash, tenés cuotas sin</h4></p>
                    <p><h4>interés con tarjeta o efectivo en puntos de </h4></p>
                    <p><h4>pago. ¡Y siempre es seguro!</h4></p>
                  </article><br>
                  <article>
                    <p><h3><b>Envío gratis desde $ 2.500</b></h3></p>
                    <p><h4>Solo por estar registrad@ en Mercado Liebre</h4></p>
                    <p><h4>tenés envíos gratis en miles de productos. Es</h4></p>
                    <p><h4>un beneficio de Mercado Puntos.</h4></p>
                  </article><br>
                  <article>
                    <p><h3><b>Seguridad, de principio a fin</b></h3></p>
                    <p><h4>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</h4></p>
                    <p><h4>ino hay nada que no puedas hacer, porque estás</h4></p>
                    <p><h4>siempre protegid@.</h4></p>
                  </article><br>
                  <article>
                    <p><h3><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></h3></p>
                  </article>
          </section>
    </footer>
</body>
</html>