<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre</title>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header> 
    <section class="form_lupa">  
       
          <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">   
       
         
          <form  action="">
             <input type="text" placeholder="Buscar" id="search" class ="buscador">
          </form>
          <i class="fa-solid fa-magnifying-glass lupa"></i>
    
         <div class="header_subtitulo_hand">
           
           <h5><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h5>
         </div>
       </section>
   <div class="menu_horizontal navbar">
       <nav>
         <ul class="nav1">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
         </ul>
       </nav>
       <nav class="espacio_nav_bottom">
         <ul class="nav2">
            <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
            <li><a href="">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
         </ul>
       </nav>
   </div>    
       
          <div class="div_svg_burguer">
           <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
       </div>
       </header>    
       
          <div class="div_svg_burguer">
           <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
          </div>
       
      
       <main>
        <form class="ordenar_form ordenar_form_register_tablet" action="/login" method="get">
            <input class="input_mobile input_tablet input_desktop" type="text" name="usuario" placeholder="Nombre de usuario" required></input>
            <input class="input_mobile input_tablet input_desktop" type="password" name="password" placeholder="Elegi tu contraseña" required>

        
            <a href="/"><button type="submit" class="submit_boton boton_submit_tablet"><p>Enviar</p></button></a> 
            
            
            
        
        
          </form>

       </main>

       <footer class="footer_fondo_gris">
        <section class="section_article_fondo_blanco">
                <article >
                  <div class="footer_icono">
                    <i class="fa-solid fa-credit-card"></i>
                  </div>
                  <div class="footer_centrado_parrafo">
                  <h2><span>Pagá con tarjeta o en efectivo</span></h2>
                  <h3><p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></h3>
                  </div>
                </article>
                <article>
                  <div class="footer_icono">
                    <i class="fa-solid fa-gift"></i>
                  </div>
                  <div class="footer_centrado_parrafo">
                  <h2><p>Envío gratis desde $ 2.500</p></h2>
                  <h3><p>Solo por estar registrad@ en Mercado Liebre
                  tenés envíos gratis en miles de productos. Es
                  un beneficio de Mercado Puntos.</p></h3>
                  </div>
                </article>
                <article>
                  <div class="footer_icono">
                    <i class="fa-solid fa-user-shield"></i>
                  </div>
                  <div class="footer_centrado_parrafo">
                  <h2><p>Seguridad, de principio a fin</p></h2>
                  <h3><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                  no hay nada que no puedas hacer, porque estás
                  siempre protegid@.</p></h3>
                  </div>
                </article>
                <article>
                  <h4><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></h4>
                </article>
        </section>
  </footer>
    
      </body>
</html>
