<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre</title>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    

<header> 
    <section class="form_lupa">  
       
          <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">   
       
         
          <form action="">
             <input type="text" placeholder="Buscar" id="search">
          </form>
          <i class="fa-solid fa-magnifying-glass lupa"></i>
    
         <div class="div_i_h5">
           
           <h5><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h5>
         </div>
       </section>
   <div class="menu_horizontal navbar">
       <nav>
         <ul class="nav1">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
         </ul>
       </nav>
       <nav class="espacio_nav_bottom">
         <ul class="nav2">
            <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
            <li><a href="">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
         </ul>
       </nav>
   </div>    
       
          <div class="div_svg_burguer">
           <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
       </div>
       </header>
      
       <main>
        <form class="ordenar_form" action="/register" method="get">
            <input class="input_mobile" type="text" name="nombreapellido" placeholder="Nombre y apellido"></input>
            <input class="input_mobile" type="text" name="usuario" placeholder="Nombre de usuario"></input>
            <input class="input_mobile" type="email" name="correo" placeholder="E-mail">

        <label for="fn"><p>Fecha de nacimiento</p></label>
            <input class="input_mobile" type="date" name="nacimiento" id="fn">

            <input class="input_mobile" type="text" name="domicilio" placeholder="Domicilio">
            
            <label  class="input_radio_label"  for="perfil">Perfil de usuario</label>
            
          <div class="perfil_comprador_vendedor">
          
            <div class="radio_perfil_usuario"> 
            <input type="radio" name="perfildeusuario" value="Comprador" id="perfil"><p>Comprador</p></input>
            </div>
            
            <div class="radio_perfil_usuario">
            <input type="radio" name="perfildeusuario" value="Vendedor" id="perfil"><p>Vendedor</p></input>
            </div>
            
          </div>
          <div> 
          <label for="intereses"><p>Intereses</p></label>
          <div class="intereses_checkbox">
            <div class="checkbox">
              <input type="checkbox" name="intereses" id="intereses"><p>Electro</p>
            </div>  
            
            <div class="checkbox">
            <input type="checkbox" name="intereses" id="intereses"><p>Moda</p>
            </div>
            
            <div class="checkbox">
            <input type="checkbox" name="intereses" id="intereses"><p>Hogar</p>
            </div>
            
            <div class="checkbox"> 
            <input type="checkbox" name="intereses" id="intereses"><p>jugueteria</p>
            </div>
            
            <div class="checkbox">
            <input type="checkbox" name="intereses" id="intereses"><p>Vida sana</p>
            </div>
          </div>   
          <label for="foto"><p>Foto de usuario</p></label>
          <input type="file" name="foto" accept=".jpg" class="boton_carga_foto">

            <input type="password" name="contraseña" placeholder="Contraseña" class="input_mobile">
            <input type="password" name="contraseña" placeholder="Confirmar contraseña" class="input_mobile">
            <a href="home.html"><button type="submit" class="submit_boton"><p>Enviar</p></button></a> 
            
            
        
        
          </form>

       </main>

       <footer class="footer_fondo_gris">
        <section class="section_article_fondo_blanco">
                <article >
                  <div class="footer_icono">
                    <i class="fa-solid fa-credit-card"></i>
                  </div>
                  <div class="footer_centrado_parrafo">
                  <h2><span>Pagá con tarjeta o en efectivo</span></h2>
                  <h3><p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></h3>
                  </div>
                </article>
                <article>
                  <div class="footer_icono">
                    <i class="fa-solid fa-gift"></i>
                  </div>
                  <div class="footer_centrado_parrafo">
                  <h2><p>Envío gratis desde $ 2.500</p></h2>
                  <h3><p>Solo por estar registrad@ en Mercado Liebre
                  tenés envíos gratis en miles de productos. Es
                  un beneficio de Mercado Puntos.</p></h3>
                  </div>
                </article>
                <article>
                  <div class="footer_icono">
                    <i class="fa-solid fa-user-shield"></i>
                  </div>
                  <div class="footer_centrado_parrafo">
                  <h2><p>Seguridad, de principio a fin</p></h2>
                  <h3><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,
                  no hay nada que no puedas hacer, porque estás
                  siempre protegid@.</p></h3>
                  </div>
                </article>
                <article>
                  <h4><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></h4>
                </article>
        </section>
  </footer>
    
      </body>
</html>
