header {
    
    background-color: var(--color-amarillo);
    background-size: contain;
    height :360px;
    
}



.logo{
 width: 30%;
 margin-top: 5%;
 margin-left: 5%;
}

div form{
    
    margin-bottom: 2px;
    margin-left: 10px;
}

div svg{
margin-left: 10px;
}

.div_i_h5{
    color:var(--color-gris-oscuro);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
} 

nav a{
    color:var(--color-gris-oscuro);
    
    }


header nav ul svg{
    padding-left: 5px;
    color:black;
    
}

.espacio_nav_bottom{
    margin-bottom: 40px;
}

.div_svg_burguer{
    width: 40px;
    height:40px;
    background-color: var(--color-azul);
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 1px;
    margin-left: 45%;
    margin-top: 10px;
    border-radius: 10%;
}

main{
    background-color: var(--color-gris-claro);
    background-size: contain;
    height: 90%;
    
}

.tapiz_blanco{
    background-color: rgb(255, 255, 255);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    padding-bottom: 3%;
}

main h1 p{
    
    padding-top: 2%;
    margin: center;
}

section article div img{
    margin-left: 25%;
    
}

footer {
    background-color: var(--color-gris-claro);
    margin-top: 1%;
    margin-bottom: 1%;
    
    
}

.footer_tapiz_blanco{
    background-color: rgb(255, 255, 255);
    margin-left: 2%;
    margin-right: 2%;
 }
 
 .icono_tarjeta{
    
 font-size: 2em;
 color: var(--color-azul);
 text-align: center;
 margin-bottom: 10px;
}
