body{
    width: 100%;
}

header {
    
    background-color: var(--color-amarillo);
  
    margin:0 auto;
    background-size: contain;
    padding-bottom: 7%;
    
}



.logo{
 width: 50%;
 margin-top: 5%;
 margin-left: 1%;
}

form{
    
    margin-right: 0 auto;
    margin-top: 9%;
  
  
}

.lupa{
    
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    position: relative;
    left: 290px;
    top: -32px;
    align-items: end;
    
   
}

header section{
    display: flex;
    flex-wrap: wrap;
  
  
}


.div_i_h5{
    color:var(--color-gris-oscuro);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
   
} 

nav a{
    color:var(--color-gris-oscuro);
    
    }


header nav ul i{
    padding-left: 5px;
    color:var(--color-gris-oscuro);
    
}

.espacio_nav_bottom{
    padding-top: 4%;
}

.div_svg_burguer{
    width: 40px;
    height:40px;
    background-color: var(--color-azul);
    padding-top: 8px;
    padding-bottom: 18px;
    padding-right: 5px;
    padding-left: 3.5%;
    margin-left: 45%;
    margin-top: 7%;
    border-radius: 10%;
}

body{
    background-color: var(--color-gris-claro);
}
main{
   
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1px;
 }

.tapiz_blanco{
    background-color: #fff;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    
}

.imagen_articulo{
    width: 50%;
}

main h1 p{
    
    padding-top: 2%;
    margin: center;
}

section article div img{
    margin-left: 25%;
    
}


main section article i{
    
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: -15px;
     
   }

   .div_linea_gris{
    border-top: solid 1px var(--color-gris-claro);
    padding: 0 15px 15px 15px;
    display: flex;
    justify-content: end;
    align-items: end;
    }
.misma_fila {
    display: flex;
    }

 .main_h2 {
     width: 30%;
     margin-left: 15px;
    } 


.h3_off{
 
width: 70%;
justify-content: center;
padding-bottom: 15px;
padding-left: 5px;
color:var(--color-verde);
}   

.h3_separacion_producto{
    margin-top:10px;

}

.footer_fondo_gris {
    background-color: var(--color-gris-claro);
    padding-top: 2%;
    margin: 0 auto;
    
}

.section_article_fondo_blanco{
    background-color: #fff;
    margin-left: 2%;
    margin-right: 2%;
 }
 
 .footer_icono{
    
 font-size: 2em;
 color: var(--color-celeste);
 text-align: center;
 padding-top: 30px;
 margin-top: 5px;
 margin-bottom: 10px;
 }

 .footer_centrado_parrafo{
    text-align: center;
    padding: 0 10px 0 10px;
    
    
 }


