.lupa{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 144px;
    top: 84px;
    align-items: end;
}

.ordenar_form{
display: flex;
flex-direction: column;
}


.input_mobile{
    display: block;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 280px;
    height: 35px;
    color: var(--color-gris-oscuro);
   
    border-color: var(--color-gris-claro);
    border:0;
    padding-left: 5px;
}

input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
  }

 .input_radio_label{
    
    margin-bottom: 5%;
    color:#000;
    font-weight:bolder;
 } 

.perfil_comprador_vendedor{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.radio_perfil_usuario{
    display: flex;
    width: 50vw;
    justify-content: space-around
}

label p{
    font-weight: bolder;
    }

.checkbox{
    display: flex;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;

}

.checkbox p{
    margin-left: 22%;
   
}

.boton_carga_foto{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
}

.submit_boton{
display: block;
width: 60%;
padding:1%;
margin-left: auto;
margin-right: auto;
margin-bottom: 1%;
border-radius: 5px;
background-color: var(--color-celeste);
color: var(--color-gris-claro);
font-weight: bolder;
}

