.ordenar_form{
display: flex;
flex-direction: column;

}




.input_mobile{

    margin-bottom: 10%;
    border-radius: 1%;
    width: 100%;
   
    border-color: var(--color-gris-claro);
}

.input_radio_mobile{
    


}