@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("./home.css");

:root{
      --color-amarillo :#EAC926;
      --color-azul:#03264c;
      --color-celeste:#1259c3;
      --color-gris-oscuro: #666;
      --color-gris-claro: #ebebeb;
      --color-verde:#00b15a;
      }
       

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;  
    font-family:'roboto',sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
}
 
h2{
    font-size: 18px;
     
}



h3 p{
    font-size: 16px;
    
}

h4{
    font-size: 12px;
    padding-left: 4%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.h3_separacion_producto{
     margin-top:10px;
     margin-left: 15px;
     padding-bottom: 15px;
}


@media (min-width:1024px){
    .div_svg_burguer{
        display: none;
    }
    
    main section{
        display: flex;
        outline: solid blue 2px;
       }
    
     main section article{
        
        outline: solid red 2px;
       }     
    }



@media (min-width: 768px){
     
    .div_svg_burguer{
        display: none;
    } 
 
      
     main section article{
     box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
main section{
    display: flex;
    outline: solid blue 2px;
   }

 main section article{
   outline: solid red 2px;
   flex:1;    
 }  
 } 

@media(max-width: 320px){

.h3_separacion_producto{
    display:none
}     

header nav {
      display: none;
    }
}