@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("./home.css");
@import url("./register.css");

:root{
      --color-amarillo :#EAC926;
      --color-azul:#03264c;
      --color-celeste:#1259c3;
      --color-gris-oscuro: #666;
      --color-gris-claro: #ebebeb;
      --color-verde:#00b15a;
      }
       

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;  
    font-family:'roboto',sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
}
 
h2{
    font-size: 18px;
     
}



h3 p{
    font-size: 16px;
    
}

h4{
    font-size: 12px;
    padding-left: 4%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.h3_separacion_producto{
     margin-top:10px;
     margin-left: 15px;
     padding-bottom: 15px;
}


nav a{
    color:var(--color-gris-oscuro);
    
    }


header nav ul i{
    padding-left: 5px;
    color:var(--color-gris-oscuro);
}




@media (min-width:1024px){

    .form_lupa{
        display: flex;
        flex-wrap: wrap;
      
      
    }
    
    .logo{
            width: 30%;
            margin-top: 5%;
            margin-left: 3%;
           }    

     .form_input{
            width: 25%;
            margin-top: 8%;
            margin-left: 5%;
            
           }

    .lupa{
    
            display: block;
            font-size: 16px;
            padding: 5px;
            width: 20px;
            height: 30px;
            position: absolute;
            left: 310px;
            top: 88px;
           
        }    
    .buscador{
            width: 25%;
           /* margin-top: 0%;
            margin-left: 2%;*/
        
            
     
        }
        
    .div_i_h5{
        position: absolute;
        width: 35%;
        left: 100%;
        top: 10%;
        left: 25%;        
    }
.navbar{
    display: flex;
}

.nav1 li{
    display: inline;
    
}
.nav2 li{
    display: inline;
    }

    header div nav{
        flex-grow: 1;  
        margin-top: 10%;
        margin-left: 10%;
        padding-bottom: 2%;
    }
    
    .div_svg_burguer{
        display: none;
    }     
    
    .div_svg_burguer{
        display: none;
    }
    
    main section{
        display: flex;
        flex-wrap: wrap;
        }
    
     main section article{
        width: 17%;
        flex-grow: 1;
        margin: 2%;
       }    
     .tapiz_blanco{
        margin-left: 1%;
        
        
     }   

/*register*/

.input_desktop{
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 60%;
    height: 35px;
    color: var(--color-gris-oscuro);
    border-color: var(--color-gris-claro);
    border:0;
    padding-left: 5px;
}

}



@media (min-width: 768px)  and (max-width:1023px ){
    header section{
        display: flex;
        }
        
        
       .logo{
            width: 30%;
            margin-top: 5%;
            margin-left: 3%;
           }    

        .buscador{
    
            width: 25%;
            margin-top: 0%;
            margin-left: 2%;
            position: absolute;
            top:11%;
            left:33%;
     
        }

        .lupa{
    
            display: block;
            font-size: 16px;
            padding: 5px;
            width: 20px;
            height: 30px;
            position: absolute;
            left: 57%;
            top: 10.3%;
            ;
        }    

    header section div h5{
        position: relative;
        width: 100%;
        left: 66%;
        margin-top: 25%;
        margin-left: 25%;
     }
.navbar{
    display: flex;
     }

.nav1 li{
    display: inline;
    }
.nav2 li{
    display: inline;
    }

    header div nav{
        flex-grow: 1;  
        margin-top: 10%;
        margin-left: 5%;
        padding-bottom: 2%;
    }
    
    .div_svg_burguer{
        display: none;
    } 
/*home*/
    
    main section article{
     box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
    main section{
    display: flex;
    flex-wrap: wrap;
   }

 main section article{
   width: 40%;
 
 }  
h1{
    font-size: 3rem;
}

 

/*register*/

.input_tablet{
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 60%;
    height: 35px;
    color: var(--color-gris-oscuro);
   
    border-color: var(--color-gris-claro);
    border:0;
    padding-left: 5px;
}
.ordenar_form_register_tablet{
    display: flex;
    flex-direction:column ;   
    }

label p{
        font-weight: bolder;
        text-align: center;
        }  
        
.checkbox_tablet{
            display: flex;
            width: 40%;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 9%;
        
}  

.boton_foto_tablet{
           display: block;
           margin-left: auto;
           margin-right: auto;
           width: 50%;

}    
.boton_submit_tablet{
           display: block;
           width: 60%;
           padding:1%;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 1%;
           border-radius: 5px;
           background-color: var(--color-celeste);
           color: var(--color-gris-claro);


}

}


@media(max-width: 320px){
    header{
    padding-bottom: 7%;
    }

    .div_i_h5{
        color:var(--color-gris-oscuro);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-bottom: 15px;
       
    } 
.h3_separacion_producto{
    display:none
}     

header nav {
      display: none;
    }
}