@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("./home.css");

:root{
      --color-amarillo :#EAC926;
      --color-azul:#03264c;
      --color-celeste:#1259c3;
      --color-gris-oscuro: #666;
      --color-gris-claro: #ebebeb;
      --color-verde:#00b15a;
      }
       

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;  
    font-family:'roboto',sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
}
 
h2{
    font-size: 18px;
     
}

.h3_off{
    color: var(--color-verde) 
} 

h3 p{
    font-size: 16px;
    
}

h4{
    font-size: 12px;
    padding-left: 4%;
    margin-top: 5%;
    margin-bottom: 2%;
}